
 .purple-color{
 color: #8845f4;
}
 body { 
 font-family: sans-serif;
 color: #777777;
 line-height: 26px;
}
 .half-width{
 width: 50%;
 float: left;
}
 .side-img{
 width: 50%;
 padding-left: 25%;
}
 .half-width2{
 width: 50%;
 float: right;
}
 .primary-btn{
 color: #fff;
 background-color: #8845f4;
 padding: 13px 42px 13px 42px;
 border-radius: 20px;
 text-decoration: none;
}
 h1 { 
 font-size: 1.9em;
}
 .container{
padding-left: 5%;
display: inline-block;
}
 .experiences{
 margin: 30px;
 padding: 30px;
 background-color: rgb(238, 251, 255);
 border-radius: 20px;
 border-left: 1px solid #262626;
}

 .experiences-item{
 padding: 10px;
 border-left: 1px solid rgba(137, 130, 247, .2);
}





